.DS_Store
*.log*
doc/*.html
node_modules
*.code-workspace
*.sublime-project
*.sublime-workspace
.travis.yml
dist/lodash.core.js
dist/lodash.core.min.js
dist/lodash.fp.js
dist/lodash.fp.min.js
dist/lodash.js
dist/lodash.min.js
dist/mapping.fp.js
doc/README.md
fp/_baseConvert.js
fp/_mapping.js
lib/fp/template/doc/wiki.jst
lib/fp/template/modules/_util.jst
LICENSE
lodash.js
package-lock.json
package.json
README.md
test/test-fp.js
test/test.js
