*.custom.*
*.min.*
.*
dist/
doc/*.php
node_modules/
perf/*.html
perf/*.sh
test/*.html
test/*-ui.js
test/*.sh
vendor/backbone/
vendor/docdown/
vendor/qunit/qunit/*.css
vendor/underscore/
vendor/requirejs/
vendor/firebug-lite/
