language: node_js
node_js:
  - "0.6"
  - "0.8"
  - "0.10"
env:
  - BIN="istanbul"  BUILD=false    MAKE=false
  - BIN="node"      BUILD="compat" MAKE=false
  - BIN="node"      BUILD="modern" MAKE=false
  - BIN="node"      BUILD="legacy" MAKE=true
  - BIN="node"      BUILD="mobile" MAKE=true
  - BIN="phantomjs" BUILD="compat" MAKE=false
  - BIN="phantomjs" BUILD="legacy" MAKE=true
  - BIN="phantomjs" BUILD="mobile" MAKE=true
git:
  depth: 1
branches:
  only:
    - master
before_script:
  - "npm install -g istanbul"
script:
  - "[ $BIN == 'istanbul' ] && $BIN cover ./test/test.js || true"
  - "[ $MAKE != false ] && git clone --depth=1 --branch=master git://github.com/lodash/lodash-cli.git ./node_modules/lodash-cli || true"
  - "[ $MAKE != false ] && mkdir ./node_modules/lodash-cli/node_modules && cd ./node_modules/lodash-cli/node_modules/ && ln -s ../../../ ./lodash && cd ../ && npm i . && cd ../../ || true"
  - "[ $MAKE != false ] && node ./node_modules/lodash-cli/bin/lodash $BUILD -o ./dist/lodash.$BUILD.js || true"
  - "[ $BUILD != false ] && cd ./test && $BIN ./test.js ../dist/lodash.$BUILD.js && cd ../ || true"
  - "[ $BUILD != false ] && cd ./test && $BIN ./test.js ../dist/lodash.$BUILD.min.js && cd ../ || true"
